*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  background-color: #243b55;
  font-family: "Poppins", sans-serif;
}
